<div class="text-center">
<h3>ユーザー名</h3>
<%= @user.name %>
<% if @user.id == current_user.id && !current_user.admin? %>
 <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
 <% end %>

<h1>自分の投稿</h1>
<% @microposts.each do |micropost|%>
<%= link_to micropost.content,micropost %>   <%= link_to "削除する", micropost, method: :delete,
                                  data: { confirm: "本当に削除しますか?" } %></br>
<% end %>
<h1>いいねした投稿</h1>
<% @likes.each do |like|%>
<%= link_to like.content,like %>
<% end %>
</div>
