
<%= render 'layouts/flash_messages' %>
<% @microposts.each do |micropost| %>
<div class="box">
  <p><%= micropost.user.name %>　さん</p>
  <p><%= micropost.anonymous? %>　</p>
</div>
<p><%= link_to truncate(micropost.content,length:100),micropost %> いいね数 : <%= micropost.likes.count %></p></br>
<% end %>
