<%= render 'layouts/flash_messages' %>
「<%= @tag.name %>」のタグがついた投稿
<% @microposts.each do |micropost| %>
<% if micropost.anonymous? %>
  <p>匿名希望　さん</p>
<% else %>
  <p><%= micropost.user.name %>　さん</p>
<% end %>
<p><%= link_to truncate(micropost.content,length:100),micropost %> いいね数 : <%= micropost.likes.count %></p></br>
<% end %>
