<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <%= link_to "MoreHelp", root_path, class: 'navbar-brand' %>
  <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to current_user.name, show_users_path(current_user), class: 'nav-link' %>
          </li>

          <li>
            <%= link_to '新規投稿', new_micropost_path, class: 'nav-link' %>
          </li>

          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
     </nav>
    </div>
</header>
